html {
    height: 100%;

}
body {
    margin: 0;
    padding: 0;
    height:100%;
}
#wrapper {
    width: 1200px;
    margin:auto;
    border: 1px solid black;
    padding: 19px;
    min-height:100%;
}

#header {
}
.tape {
    max-width: 500px;
    max-height: 600px;
    float:left;
    border: 1px solid black;
    padding:20px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.tape_name { 
    width:100%;
    text-align:center;
}

#cleardiv {
    /** makes sure the wrapper actually wraps around everything
     ** more info http://css-tricks.com/all-about-floats/
     **/
    clear:both;
}
