{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Tabs Off</title>

        {% comment %} should use static loader instead {% endcomment %}
        <link rel="stylesheet" type="text/css" href="/static/mixtape/style.css"">

        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                {% block header %} 
                {% endblock %}
                <div id ="login box">


{% if login_form.errors %}
<span 
{% endif %}
{% if user.is_authenticated %}
<p> dude you are auth'd</p>
{% endif %}
<form method="post" action="{% url 'mixtapes:django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ login_form.username.label_tag }}</td>
    <td>{{ login_form.username }}</td>
</tr>
<tr>
    <td>{{ login_form.password.label_tag }}</td>
    <td>{{ login_form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ request.path }}" />
</form>



                </div>

            </div>
            {% block content %}
            {% endblock %}
            <div id="cleardiv"></div>
        </div>
    </body>
</html>
