{% extends "mixtape/base.html" %}
{% load thumbnail %}
{% block header %}
<h1> mixtapes.</h1>
{% endblock %}


{% block content %}
{% if no_entry %}
<p> You have to be logged in to do that! </p>
{% endif %}
{% if mixtapes %}
    {% for mixtape in mixtapes %}
        <div class="tape">
            <a href="{% url 'mixtapes:mixtape' mixtape.id %}">
            {% thumbnail mixtape.album_art "500x500" crop="center" as album_art %}
            <img src="{{  album_art.url }}" />
            {% endthumbnail %}
        <div class="tape_name">{{ mixtape.title }}</div></div></a>
    {% endfor %}
{% else %}
    <p> There are no mixtapes here! Why don't you add some? </p>
{% endif %}
{% endblock %}
